<div class="flex layout-">
	<div class="layout layout-align-end-end">
		<input class="default-input primary" matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</div>
		<!-- https://stackblitz.com/edit/angular-igmugp?file=src%2Fapp%2Fapp.module.ts -->
		<table class="default-tbl alternating primary mt-8" mat-table #table [dataSource]="this.dataSource" cdkDropList
			matSort [cdkDropListData]="dataSource" (cdkDropListDropped)="dropTable($event)">

			<ng-container matColumnDef="select">
				<th mat-header-cell *matHeaderCellDef>
					<input type="checkbox" (change)="$event ? masterToggle() : null"
                      [value]="selection.hasValue() && isAllSelected()">
        </th>
				<td mat-cell *matCellDef="let row">
					<input type="checkbox" (click)="$event.stopPropagation()"
						(change)="$event ? selection.toggle(row) : null" [value]="selection.isSelected(row)">
				</td>
			</ng-container>

			<!-- Position Column -->
			<ng-container matColumnDef="position">
				<th mat-header-cell mat-sort-header *matHeaderCellDef> No. </th>
				<td mat-cell *matCellDef="let element">
					<mat-icon cdkDragHandle>reorder</mat-icon>
				</td>
			</ng-container>

			<!-- title Column -->
			<ng-container matColumnDef="title">
				<th mat-header-cell mat-sort-header *matHeaderCellDef> Title </th>
				<td mat-cell *matCellDef="let element"> {{element.title}} </td>
			</ng-container>

			<!-- src Column -->
			<ng-container matColumnDef="src">
				<th mat-header-cell mat-sort-header *matHeaderCellDef> Src </th>
				<td mat-cell *matCellDef="let element"> {{element.src}} </td>
			</ng-container>

			<!-- attributes Column -->
			<ng-container matColumnDef="attributes">
				<th mat-header-cell mat-sort-header *matHeaderCellDef> Attributes </th>
				<td mat-cell *matCellDef="let element"> {{element.attributes |json}} </td>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="dataSourceColumns; sticky: true"></tr>
			<tr mat-row *matRowDef="let row; columns: dataSourceColumns;" cdkDrag [cdkDragData]="row"  (click)="selection.toggle(row)"></tr>
		</table>
	</div>